In [32]:
import pandas as pd
import os

In [33]:
images_df = pd.read_csv("images_dataframe.csv")

In [34]:
images_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6739 entries, 0 to 6738
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   artwork_type_title  6739 non-null   object
 1   style_title         3550 non-null   object
 2   id                  6739 non-null   int64
 3   image_id            6679 non-null   object
 4   title               6739 non-null   object
 5   search_term         6739 non-null   object
 6   file_name           6610 non-null   object
dtypes: int64(1), object(6)
memory usage: 368.7+ KB

In [35]:
images_df.head()

,artwork_type_title,style_title,id,image_id,title,search_term,file_name
0,Painting,Impressionism,64729,ef96e79b-f481-8114-0804-4bd39c101983,"Early Morning, Tarpon Springs",Impressionism,ef96e79b-f481-8114-0804-4bd39c101983.jpg
1,Painting,Impressionism,138,e72305c9-1a1c-8a36-7450-582619366338,Flower Girl in Holland,Impressionism,e72305c9-1a1c-8a36-7450-582619366338.jpg
2,Painting,Impressionism,70065,2e796bd8-4e0b-f55a-7c69-75a70a3e97d7,Afterglow,Impressionism,2e796bd8-4e0b-f55a-7c69-75a70a3e97d7.jpg
3,Painting,Impressionism,90899,9604cbbd-722b-8de3-e7cc-4a80be648d79,Lady in Green and Gray,Impressionism,9604cbbd-722b-8de3-e7cc-4a80be648d79.jpg
4,Painting,Pointillism,27992,2d484387-2509-5e8e-2c43-22f9981972eb,A Sunday on La Grande Jatte — 1884,Impressionism,2d484387-2509-5e8e-2c43-22f9981972eb.jpg

In [36]:
images_df = images_df.dropna(subset=['file_name'])
images_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6610 entries, 0 to 6738
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   artwork_type_title  6610 non-null   object
 1   style_title         3520 non-null   object
 2   id                  6610 non-null   int64
 3   image_id            6610 non-null   object
 4   title               6610 non-null   object
 5   search_term         6610 non-null   object
 6   file_name           6610 non-null   object
dtypes: int64(1), object(6)
memory usage: 413.1+ KB

In [40]:
# Find duplicates
duplicate_image_ids = images_df['image_id'].duplicated(keep='first')

# Print the number of duplicates found
print(f"Number of duplicate entries: {duplicate_image_ids.sum()}")

# Remove duplicates, keeping the first occurrence
cleaned_images_df = images_df.drop_duplicates(subset=['image_id'], keep='first')

# Print the number of rows in the new DataFrame
print(f"Number of rows after removing duplicates: {len(cleaned_images_df)}")

Number of duplicate entries: 5205
Number of rows after removing duplicates: 1405

In [41]:
cleaned_images_df.isna().sum()

artwork_type_title      0
style_title           525
id                      0
image_id                0
title                   0
search_term             0
file_name               0
dtype: int64

In [43]:
def verify_file_exists(file_name):
    return os.path.isfile(os.path.join('downloaded_images_aic', file_name))

# Create an explicit copy of the DataFrame
cleaned_images_df = cleaned_images_df.copy()

# Apply the verification function to each file name
cleaned_images_df.loc[:, 'file_exists'] = cleaned_images_df['file_name'].apply(verify_file_exists)

# Count how many files exist and how many are missing
files_exist = cleaned_images_df['file_exists'].sum()
files_missing = len(cleaned_images_df) - files_exist

print(f"Files that exist: {files_exist}")
print(f"Files that are missing: {files_missing}")

Files that exist: 1405
Files that are missing: 0

In [45]:
cleaned_images_df['search_term'].nunique()

31

In [46]:
cleaned_images_df['search_term'].value_counts()

search_term
modern art                604
Impressionism             262
northern renaissance       62
mannerism                  61
Realism                    58
Abstract Expressionism     58
modernism                  55
neo-romantic               46
Baroque                    28
Pop art                    22
Art Informel               21
late renaissance           18
Conceptual Art             15
surrealism                 14
contemporary               14
ukiyo-e                    10
early renaissance           8
Neoclassicism               7
high renaissance            6
Op Art                      5
symbolism                   5
Mannerism                   4
Rococo                      4
Expressionism               4
Cubism                      4
romantic                    3
Pop Art                     2
Modern Art                  2
minimalism                  1
Post-Impressionism          1
lyrical abstraction         1
Name: count, dtype: int64